{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        {% if products %}
            {% for product in products %}
                {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-3">
                        <div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top float-start">
                            <div class="card-body">
                                <h5 class="card-title">{{ product }}</h5>
                                <div class="price-container">
                                    {% if product.discount %}
                                        <p class="card-title">
                                            <s>{{ product.price }} USD</s>
                                        </p>
                                    {% endif %}
                                    <p class="card-title product-price">{{ product.get_price }} USD</p>
                                </div>
                                <p class="card-text">{{ product.description|slice:"150" }}</p>
                                <a class="btn btn-tomato" href="{% url "product" id=product.pk %}">Leer más</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        {% else %}
            <h1>No hay productos</h1>
        {% endif %}
    </div>
{% endblock content %}
