{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-5">
                <img src="{{ product.image.url }}"
                     class="img-fluid"
                     height=""
                     alt="{{ product.image.alt }}">
            </div>
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">{{ product.name }}</h1>
                    {% if product.discounted_price %}
                        <h5 class="card-title">
                            <s>{{ product.price }} USD</s>
                        </h5>
                    {% endif %}
                    <h5 class="card-title">{{ product.get_price }} USD</h5>
                    <hr class="my-4">
                    <form method="post" action="{% url 'add_like' id=product.id %}">
                        {% csrf_token %}
                        {{ product.likes.count }}
                        <input type="hidden" name="next" value={{ request.path }}>
                        <button type="summit" class="btn btn-primary">Like</button>
                    </form>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
        <hr>
        {% for comment in comments %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
        <div class="container">
            <h2>Leave your comments</h2>
            {{ product }}
            
            <form action="{% url 'add_new_comment' id=product.id %}"
                  method="post"
                  class="post-form">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text">Comentarios</span>
                    {{ form.text }}
                </div>
                <button type="submit" class="save btn btn-dark">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}
